<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a class="logo" routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Logo
      </a>
      <span class="spacer"></span>
      <div *ngIf="isAuthenticated$ | async" class="username">
        <span>{{ (user$ | async)?.username }}</span>
        <button mat-raised-button (click)="onLogOff()" >Log off</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>