.alignMent-center {
    display: flex;
    align-items: center;
}

.logo {
    @extend .alignMent-center;
}

.example-icon {
    padding: 0 1.6rem;
}

.username {
    @extend .alignMent-center;

    > span:first-child{
        margin-right: 1.6rem;
    }
}

.spacer {
    flex: 1 1 auto;
}