@import "../../../../assets/scss/colors";

.courses {
    padding: 1.6rem;
    margin-bottom: 6.4rem; 

    &__search-bar {
        margin-top: 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;

        .search-input {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .mat-form-field {
                flex-grow: 1;
            }
            button {
                margin-left: 1.6rem;
            }
        }
    }
  
    > h1 {
        color: $color-primary;
    }

    & .load-more-btn {
        text-transform: uppercase;
        width: 100%;
    }
}