<div class="courses">
  <h1>Courses</h1>
  <mat-divider></mat-divider>
  <div class="courses__search-bar">
    <div class="search-input">
      <mat-form-field>
        <input matInput placeholder="Text to search" [(ngModel)]="searchText">
      </mat-form-field>
      <button mat-raised-button color="primary">Search</button>
    </div>
    <button mat-raised-button color="primary" routerLink="/courses/new">Add course</button>
  </div>
  <div class="courses__list">
    <app-course *ngFor="let course of (courses$ | async) | search : searchText" [course]="course"></app-course>
  </div>
  <div *ngIf="loaded !== count">
    <button class="load-more-btn" mat-raised-button color="primary" (click)="loadMore()">Load More</button>
  </div>
</div>