<div class="login-container">
  <div class="login-container__header">Login</div>
  <div class="login-container__content">
    <form [formGroup]="form" (submit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-hint align="start"><strong>Email is "user@mail.com"</strong></mat-hint>
        <mat-error *ngIf="email.invalid">{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Enter your password" [formControl]="password" required>
        <mat-hint align="start"><strong>Password is "password"</strong></mat-hint>
        <mat-error *ngIf="password.invalid">{{ getErrorMessage('password') }}</mat-error>
      </mat-form-field>
      <mat-error *ngIf="errors$ | async">{{ (errors$ | async).message }}</mat-error>
      <div class="btn-container">
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
      </div>
    </form>
  </div>
</div>