@import "../../../../assets/scss/colors";

.course-details-container {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__header {
        color: $color-white;
        font-size: 2rem;
        padding: .8rem;
        background-color: $color-primary;
    }

    &__content {
        border: 5px solid $color-primary;
        border-top: none;
        font-size: 1.6rem;
        padding: 1.6rem;

        & > form {
            display: flex;
            flex-direction: column;

            .short {
                width: 40%;
            }

            .btn-container {
                margin: .8rem 0;
            }

            button:first-child {
                margin-right: .8rem;
            }
        }
    }
}