<div class="course-details-container">
    <div class="course-details-container__header">{{ editing ? 'Edit' : 'Add' }} course</div>
    <div class="course-details-container__content">
        <form [formGroup]="form" (submit)="onSubmit()">
            <mat-form-field>
                <input type="text" matInput placeholder="Title:" [formControl]="title" required>
                <mat-error *ngIf="title.invalid">{{ getErrorMessage('title') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Description:" [formControl]="description" required></textarea>
                <mat-error *ngIf="description.invalid">{{ getErrorMessage('description') }}</mat-error>
            </mat-form-field>
            <mat-form-field class="short">
                <input type="text" mask="00.00.0000" matInput placeholder="Date: MM.DD.YYYY" [formControl]="date" required>
                <mat-error *ngIf="date.invalid">{{ getErrorMessage('date') }}</mat-error>
            </mat-form-field>
            <mat-form-field class="short">
                <input type="text" mask="000" matInput placeholder="Duration: Input in minutes" [formControl]="duration"
                    required>
                <mat-error *ngIf="duration.invalid">{{ getErrorMessage('duration') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Authors: Start typing..." [formControl]="authors" required>
                <mat-error *ngIf="authors.invalid">{{ getErrorMessage('authors') }}</mat-error>
            </mat-form-field>
            <div class="btn-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
                <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>