@import "../../../assets/scss/colors";

.not-found-header {
    color: $color-primary;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.2rem;

    &__code {
        display: block;
        font-size: 6.4rem;
    }
}