@import "../../../../assets/scss/colors";

.course {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    margin: 1.6rem 0;
    padding: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border: 2px solid $color-primary;

    &__actions {
        display: flex;
        flex-direction: column;
        >button:first-child{
            margin-bottom: .8rem;
        }
    }

    &__details {
        display: flex;
        flex-grow: 1;
        padding-right: 3.2rem;
        flex-direction: column;

        .course__header {
            display: flex;
            justify-content: space-between;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        .course__description {
            font-size: 1.6rem;
        }

        .course__date {

            span:last-child {
                margin-left: .8rem;
            }
        }
    }
}