<div class="course">
  <div class="course__details">
    <div class="course__header">
      <span class="course__title">{{ course.title }}</span>
      <span class="course__date">
        <span>{{ getDuration(course.duration) }}</span>
        <span>{{ getCourseDate(course.date) }}</span>
      </span>
    </div>
    <p class="course__description">{{ course.description }}</p>
  </div>
  <div class="course__actions">
    <button mat-raised-button color="primary" [routerLink]="['/courses', course.id]">Edit</button>
    <button mat-raised-button color="warn" (click)="onDelete(course.id)">Delete</button>
  </div>
</div>